@model ControlesEnsalamento.Models.Cursos

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Cursos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nomeCurso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomeCurso)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idCurso }) |
    @Html.ActionLink("Back to List", "List")
</p>
